include adi_doctools/miscellaneous/*.js
include adi_doctools/miscellaneous/*.svg
include adi_doctools/miscellaneous/*.css
include adi_doctools/miscellaneous/static/*.js
include adi_doctools/theme/harmonic/style/*.css
include adi_doctools/theme/harmonic/static/*.svg
include adi_doctools/theme/harmonic/static_common/*.umd.js
include adi_doctools/theme/harmonic/static_common/*.js.map
include adi_doctools/theme/harmonic/static_common/*.min.css
include adi_doctools/theme/harmonic/static_common/*.css.map
include adi_doctools/theme/harmonic/static_core/*.umd.js
include adi_doctools/theme/harmonic/static_core/*.js.map
include adi_doctools/theme/harmonic/static_core/*.min.css
include adi_doctools/theme/harmonic/static_core/*.css.map
include adi_doctools/theme/harmonic/static/fonts/barlow/*.woff2
include adi_doctools/theme/harmonic/static/fonts/barlow/*.txt
include adi_doctools/theme/harmonic/static/fonts/inter/*.woff2
include adi_doctools/theme/harmonic/static/fonts/inter/*.txt
include adi_doctools/theme/harmonic/section/*.html
include adi_doctools/theme/harmonic/*.html
include adi_doctools/theme/harmonic/*.conf
