include adi_doctools/miscellaneous/*.js
include adi_doctools/miscellaneous/*.svg
include adi_doctools/miscellaneous/*.css
include adi_doctools/theme/cosmic/style/*.css
include adi_doctools/theme/cosmic/static/*.umd.js
include adi_doctools/theme/cosmic/static/*.js.map
include adi_doctools/theme/cosmic/static/*.min.css
include adi_doctools/theme/cosmic/static/*.css.map
include adi_doctools/theme/cosmic/static/*.svg
include adi_doctools/theme/cosmic/static/fonts/barlow/*.woff2
include adi_doctools/theme/cosmic/static/fonts/barlow/*.txt
include adi_doctools/theme/cosmic/static/fonts/inter/*.woff2
include adi_doctools/theme/cosmic/static/fonts/inter/*.txt
include adi_doctools/theme/cosmic/section/*.html
include adi_doctools/theme/cosmic/*.html
include adi_doctools/theme/cosmic/*.conf
