input, textarea, select, button, summary {
    background: none;
    outline: none;
    border: none;
    font-size: 1em;
}

a, input, textarea, select, button, summary {
    -webkit-tap-highlight-color: transparent;
}

a {
    user-select: none;
    text-decoration: none;
    color: inherit;
}

video {
    max-width: 100%;
}

:is(h1, h2, h3, h4, h5, h6) a {
    margin-left: .25em;
    opacity: 0;
    transition: opacity ease .125s;
}

:is(h1, h2, h3, h4, h5, h6):hover a {
    opacity: 1;
}

code.literal {
    border: 1px solid rgba(125, 125, 125, 0.25);
    background: rgba(125, 125, 125, 0.1);
    border-radius: $border-radius;
    padding: .1em .2em;
}

.highlight {
    padding: .75em;
    border-radius: $border-radius;
}

.highlight .hll {
    box-sizing: content-box;
    width: 100%;
    display: block;
    margin: 0 -.75rem;
    padding: 0 .75rem;
}
