@import "variable";

:root {
    --subtle-box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
    --subtle-box-shadow-button: 0 .2rem .5rem rgba(0,0,0,.1),0 0 .0625rem rgba(0,0,0,.15);
    --subtle-box-shadow-hover: 0 .3rem .6rem rgba(0,0,0,.2),0 0 .075rem rgba(0,0,0,.2);
    color-scheme: light dark;
}

body {
    --dark-true: 0;
    --dark-false: 1;
    --bg-color1: #{$bg-light1};
    --bg-color2: #{$bg-light2};
    --text-color1: #{$text-color-light1};
    --text-color2: #{$text-color-light2};
    --accent-color: #{$accent-color-light};
}

body.dark {
    --dark-true: 1;
    --dark-false: 0;
    --bg-color1: #{$bg-dark1};
    --bg-color2: #{$bg-dark2};
    --text-color1: #{$text-color-dark1};
    --text-color2: #{$text-color-dark2};
    --accent-color: #{$accent-color-dark};
}

@media (prefers-color-scheme: dark) {
    body {
        --dark-true: 1;
        --dark-false: 0;
        --bg-color1: #{$bg-dark1};
        --bg-color2: #{$bg-dark2};
	--text-color1: #{$text-color-dark1};
	--text-color2: #{$text-color-dark2};
	--accent-color: #{$accent-color-dark};
    }
    body.light {
        --dark-true: 0;
        --dark-false: 1;
        --bg-color1: #{$bg-light1};
        --bg-color2: #{$bg-light2};
	--text-color1: #{$text-color-light1};
	--text-color2: #{$text-color-light2};
	--accent-color: #{$accent-color-light};
    }
}

/*
    --wide-screen: 85em;
    --narrow-screen: 40em;
@media (min-width: 85em) {
}

@media (min-width: 40em and max-width: 85em) {
}

@media (max-width: 40em) {
}
*/


body {
    margin: 0;
    background-color: var(--bg-color1);
    color: var(--text-color1);
}

* {
    box-sizing: border-box;
}



.body {
    max-width: 60rem;
    width: 100%;
    padding: 0 1em;
}

@media (min-width: 85em) {
    #vertical-border {
	position: fixed;
	height: 100vh;
	border-left: $border-panel;
	top: 0;
	left: calc(40vw - 15em);
    }

    .bodywrapper {
	margin-left: calc(40vw - 14em);
    }
}

@media (min-width: 40em) and (max-width: 85em) {
}

@media (max-width: 40em) {
}

footer {
    height: 10em;
}

@media (min-width: 85em) {
    button#show-sidebar {
      display: none;
    }

    .documentwrapper {
        min-height: calc(100vh - 4.5em);
    }
}

.body p {
    text-align: justify;
}

svg {
    display: block;
    margin: 0 auto;
}

.body table {
    margin: 0 auto;
}

@media (min-width: 85em) {
    #hdl-parameters table {
        margin: 0 0 0 -2.5vw;
        width: calc(100% + 5vw);
    }

    #hdl-component-diagram svg {
        float: right;
        margin: -5em -5vw 0 0;
        max-width: 30rem;
    }
}

@media (max-width: 85em) {
    svg {
        max-width: 100%;
    }
}

@media (min-width: 40em) and (max-width: 85em) {
}

@media (max-width: 40em) {

}
