@import "variable";

.collapsible_input {
    display: none;
}

.collapsible_content {
    overflow: auto;
    border-top: $border-panel;
    overflow: hidden;
    height: 0;
    transition: ease opacity .25s;
    opacity: 0;
}

.collapsible_input:checked ~ label .icon {
    transform: rotate(45deg);
    margin-top: -.5em;
}

.collapsible_input:checked ~ .collapsible_content {
    height: 100%;
    opacity: 1;
}

.collapsible {
    border: $border-panel;
    border-radius: .25em;
    margin-bottom: .5em;

    .collapsible {
        margin: .25em;
    }

    label {
        width: 100%;
        padding: 0.75em 1em 0.75em .75em;
        user-select: none;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    label .icon {
        border: 1px solid var(--text-color1);
        border-width: 0 2px 2px 0;
        display: block;
        transition: transform ease .125s, margin-top ease .125s;
        width: .6em;
        height: .6em;
        transform: rotate(-45deg);
        z-index: -1;
        margin-left: .5em;
    }

    label p {
        margin: 0;
        white-space: pre-wrap;
    }

    label, div {
        transition: box-shadow ease .25s;
    }

    label:hover ~ div, label:hover {
        box-shadow: $box-shadow-raised;
    }

    label div > p:first-child {
        font-weight: 600;
    }

    table.docutils {
        border: none;
        width: 100%;
    }

    .container > p {
        margin-left: .5em;
        margin-right: .5em;
    }
}

