input, textarea, select, button, summary {
    background: none;
    outline: none;
    border: none;
    font-size: 1em;
}

a, input, textarea, select, button, summary, label {
    -webkit-tap-highlight-color: transparent;
}

a {
    user-select: none;
    text-decoration: none;
    color: inherit;
}

.body a {
    color: var(--accent-color);
    border-bottom: 1px solid rgba(125, 125, 125, .25);
}

.body a:hover {
    border-color: var(--text-color2);
}

video {
    max-width: 100%;
}

@media (max-width: $width-wide) {
    section, #top-anchor {
        scroll-margin-top: 3.5rem;
    }
}

@media (min-width: $width-narrow) {
    #top-anchor {
        scroll-margin-top: 7.5rem;
    }
}

:is(h1, h2, h3, h4, h5, h6) .headerlink {
    margin-left: .25em;
    opacity: 0;
    transition: opacity ease .125s;
}

:is(h1, h2, h3, h4, h5, h6):hover .headerlink {
    opacity: 1;
}

code.literal {
    border: 1px solid rgba(125, 125, 125, 0.15);
    background: rgba(125, 125, 125, 0.05);
    border-radius: $border-radius;
    padding: .1em .2em;
    font-size: 1.1em;
}

a {
    overflow-wrap: anywhere;
}

.highlight {
    padding: .75em;
    border-radius: $border-radius;
    overflow-x: auto;
}

.highlight .hll {
    box-sizing: content-box;
    width: 100%;
    display: block;
    margin: 0 -.75rem;
    padding: 0 .75rem;
}

.math-wrapper, .table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table.docutils {
    border-spacing: 0;
    border-radius: $border-radius;
    border: $border-td;

    thead {
        background-color: var(--bg-color2);
    }

    th {
        border-bottom: $border-th;
    }

    td {
        border-bottom: $border-td;
    }

    p {
        margin: 0;
        text-align: left;
    }

    th, td {
        padding: .5em;
    }

    tr:last-child td {
        border: none;
    }

    thead:not(:first-child) th {
        font-weight: normal;
    }
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.toctree-wrapper li {
    margin: .5em 0;
}

table.regmap {
    font-size: 0.8rem;
}

pre {
    margin: 0;
}

#hdl-parameters table p,
#hdl-interfaces table p {
    white-space: break-spaces;
}

aside.footnote {
    display: flex;
    align-items: center;

    p {
        margin: 0.5em;
    }
}

iframe {
    border: none;
}

.iframe-video {
    iframe {
        box-shadow: $box-shadow-raised;
        border-radius: $border-radius;
        overflow: hidden;
        display: block;
        margin: 0 auto;
        width: 59rem;
        height: 33.1875rem;
    }
}

@media (max-width: $width-narrow) {
    .iframe-video {
        width: 100%;
        overflow: hidden;
    }
    .iframe-video iframe {
        width: calc(100vw - 2rem);
        height: calc(56.25vw - 1.125rem);
    }
}
