@use "variable";

footer {
    border-top: variable.$border-panel;
    padding: 1em;
}

@media screen {
    footer {
        background: var(--bg-color1);
    }
}

@media (min-width: variable.$screen-1) and (max-width: variable.$screen-2) {
    footer {
        margin-left: 18rem;
    }
}

@media (min-width: variable.$screen-2) {
    footer {
        margin-left: calc(40vw - 14em);
    }
}

@media (min-width: variable.$screen-3) {
    footer {
        max-width: 60rem;
    }
}
