footer {
    border-top: $border-panel;
    padding: 1em;
}

@media screen {
    footer {
        background: var(--bg-color1);
    }
}

@media (min-width: $screen-1) and (max-width: $screen-2) {
    footer {
        margin-left: 18rem;
    }
}

@media (min-width: $screen-2) {
    footer {
        margin-left: calc(40vw - 14em);
    }
}

@media (min-width: $screen-3) {
    footer {
        max-width: 60rem;
    }
}
