header {
    z-index: 6;
    position: relative;
    width: 100%;

    label, button {
      cursor: pointer;
    }

    #right span {
        display: flex;
        align-items: center;
    }

    #right span.reverse {
        flex-direction: row-reverse;
    }

    label:before, button:before {
        content: '';
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem .5rem;
        background: url('./icons.svg');
        filter: invert(var(--is-dark-theme));
    }

    #search:before {
        background-position: left calc(-1.5rem*4) top;
    }

    #theme:before {
        background-position: left calc(-1.5rem*1) bottom;
    }

    #left {
        margin-left: .25rem;
    }

    #right {
        margin-right: .25rem;
    }

    #show-sidebar:before {
        background-position: left calc(-1.5rem*0) top;
        transition: .25s ease background-position;
    }

    #show-localtoc:before {
        background-position: left calc(-1.5rem*2) top;
        transition: .25s ease background-position;
    }

    .repotoc-tree {
        padding-left: calc(40vw - 15em);
        border-bottom: $border-panel;
        background: var(--bg-color1);
        height: 2.5em;

        root {
            padding-left: 1em;
            display: block;
            white-space: nowrap;
            overflow-x: auto;
        }

        a {
            cursor: pointer;
            display: inline-block;
            padding: .5em .5em .625em .5em;
            margin: 0 .5em;
            border-bottom: .125em solid rgba(0,0,0,0);
        }

        a:hover {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }

        a.current {
            border-color: var(--font-color1);
        }
    }
}

#input-show-toc:checked ~ header #show-sidebar:before {
    background-position: left calc(-1.5rem*0) bottom;
}

#input-show-localtoc:checked ~ header #show-localtoc:before {
    background-position: left calc(-1.5rem*2) bottom;
}

.dark header #theme:before {
    background-position: left calc(-1.5rem*1) top;
}

@media (prefers-color-scheme: dark) {
    header #theme:before {
        background-position: left calc(-1.5rem*1) top;
    }

    .light header #theme:before {
        background-position: left calc(-1.5rem*1) bottom;
    }
}

@media (min-width: $width-wide) {
    header #show-localtoc {
        display: none;
    }
}

@media (max-width: $width-narrow) {
    .header {
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        border-bottom: $border-panel;
        background: var(--bg-color1-faded1);
    }
}

.header {
    height: 3.5em;

    #right {
        display: flex;
        justify-content: space-between;
    }

    #logo-org {
        display: inline-block;
        width: 5.375rem;
        height: 1.5rem;
        margin: .75em 0;
        background: url('./logo-org.svg') no-repeat center top;
    }

    #logo {
        display: inline-block;
        width: 6rem;
        height: 2rem;
        margin: .75em 0.5em;
    }

    #logo, #no-logo {
        border-left: $border-panel;
        margin-left: 0.5em;
        padding-left: 0.5em;
    }
}

body.dark #logo-org {
    background-position: center bottom;
}

@media (prefers-color-scheme: dark) {
    body:not(.light) #logo-org {
        background-position: center bottom;
    }
}

@media (max-width: $width-narrow) {
    .header {
        backdrop-filter: blur(1em);
    }
    .header #right {
        width: 100%;
    }
}

@media (min-width: $width-narrow) {
    .header {
        background: var(--bg-color1);
    }

    .header #left{
        display: none;
    }

    .header #right {
        margin-left: calc(40vw - 13em);
        text-align: right;
    }

    .header #logo, .header #no-logo {
        display: none !important;
    }
}

@media (min-width: $width-wide) {
    .header #right {
        max-width: 60rem;
    }
}

@media (max-width: $width-narrow) {
    header .repotoc-tree {
        display: none;
    }
}
