@import "mixin_links";

a {
    text-decoration: none;
    color: inherit;
}

.body {
    p a, a.reference.internal:not(.image-reference), aside a, .line-block a {
        color: var(--accent-color);
        border-bottom: 1px solid rgba(125, 125, 125, .25);
    }

    p a:hover, a.reference.internal:hover, aside a:hover, .line-block a:hover {
        border-color: var(--text-color2);
    }
}

a.icon {
    margin: 0;
    position: relative;
    margin-top: 0;
    padding-left: 1.5em;
    padding-top: .5em;

    /* Our fancy icon */
    &::before {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        content: "";
        position: absolute;
        left: 0em;
        top: .25em;
        width: 1.5em;
        height: 1.5em;
    }
}

/* Default styles */
a.icon {
    &::before {
        background-color: var(--color-link-title);
        mask-image: var(--icon-link-default);
        mask-repeat: no-repeat;
    }
}

/* Variants */
a.icon {
    @each $type, $value in $links {
        &.#{$type} {
            &::before {
                background-color: var(--color-link-title--#{$type});
                mask-image: var(--icon-#{nth($value, 2)});
            }
        }
    }
}
