@use "variable";

.search-area, .search-area-bg {
    top: 0;
}

.search-area {
    position: sticky;
}
.search-area form {
    display: none;
}

.search-area-bg {
    position: fixed;
    display: none;
}

.search-area-bg.on {
    display: block;
}

.search-area-bg {
    z-index: 9;
    background: rgba(0, 0, 0, .35);
    left: 0;
    right: 0;
    bottom: 0;
}

.search-area {
    width: 0;
    height: 0;
    z-index: 10;
    overflow: visible;
}

.search-area.on form {
    display: flex;
}

.search-area form {
    width: 100vw;
    background: var(--bg-color1);
    padding: .5rem;
    height: 3.5rem;


    input {
        color: var(--text-color1);
        width: 100%;
        padding-left: .5em;
    }

    button {
        cursor: pointer;
    }

    button:before {
        content: '';
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin: .25rem;
        background: url('./icons.svg');
        filter: invert(var(--is-dark-theme));
    }

    button:before {
        background-position: left calc(-1.5rem*4) top;
    }
}

@media (min-width: variable.$screen-1) {
    .search-area form {
        margin-left: calc(40vw - 15rem);
        width: calc(60vw + 15rem);
    }
}

@media (min-width: variable.$screen-3) {
    .search-area form {
        max-width: 62rem;
    }
}
