@import "variable";
@import "mixin_icons";
@import "mixin_admonition";
@import "mixin_links";

:root {
    --subtle-box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
    --subtle-box-shadow-button: 0 .2rem .5rem rgba(0,0,0,.1),0 0 .0625rem rgba(0,0,0,.15);
    --subtle-box-shadow-hover: 0 .3rem .6rem rgba(0,0,0,.2),0 0 .085rem rgba(0,0,0,.2);
    color-scheme: light dark;
}

html {
    scroll-behavior: smooth;
}

body {
    @include icons;
    @include admonitions;
    @include default-admonition(#651fff, "abstract");
    @include default-topic(#14B8A6, "pencil");
    @include links;
    @include default-link(#14B8A6, "adi");
}

body {
    --is-dark-theme: 0;
    --is-light-theme: 1;
    --display-dark: none;
    --display-light: inline-block;
    --bg-color1: #{$bg-light1};
    --bg-color2: #{$bg-light2};
    --bg-color1-faded1: #{$bg-light1}99;
    --bg-color1-faded2: #{$bg-light1}aa;
    --text-color1: #{$text-color-light1};
    --text-color2: #{$text-color-light2};
    --text-color3: #{$text-color-light3};
    --accent-color: #{$accent-color-light};
    --accent-color-code: #{$accent-color-code-light};
}

body.dark {
    --is-dark-theme: 1;
    --is-light-theme: 0;
    --display-dark: inline-block;
    --display-light: none;
    --bg-color1: #{$bg-dark1};
    --bg-color2: #{$bg-dark2};
    --bg-color1-faded1: #{$bg-dark1}aa;
    --bg-color1-faded2: #{$bg-dark1}cc;
    --text-color1: #{$text-color-dark1};
    --text-color2: #{$text-color-dark2};
    --text-color3: #{$text-color-dark3};
    --accent-color: #{$accent-color-dark};
    --accent-color-code: #{$accent-color-code-dark};
}

@media (prefers-color-scheme: dark) {
    body:not(.light) {
        --is-dark-theme: 1;
        --is-light-theme: 0;
        --display-dark: inline-block;
        --display-light: none;
        --bg-color1: #{$bg-dark1};
        --bg-color2: #{$bg-dark2};
        --bg-color1-faded1: #{$bg-dark1}99;
        --bg-color1-faded2: #{$bg-dark1}aa;
        --text-color1: #{$text-color-dark1};
        --text-color2: #{$text-color-dark2};
        --text-color3: #{$text-color-dark3};
        --accent-color: #{$accent-color-dark};
        --accent-color-code: #{$accent-color-code-dark};
    }
}

body {
    margin: 0;
    background-color: var(--bg-color1);
    color: var(--text-color1);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.body {
    width: 100%;
    padding: 0 1em;
    overflow-x: auto;
}

@media (min-width: $width-wide) {
  .bodywrapper > div {
      max-width: 60rem;
  }
}

@media (max-width: $width-narrow) {
    .documentwrapper {
        margin-top: 3.5rem;
    }
}

@media (max-width: $width-wide) {
    .bodywrapper > div {
        margin: 0 auto;
    }
}

@media (min-width: $width-narrow) {
    #vertical-border {
        position: fixed;
        height: 100vh;
        border-left: $border-panel;
        top: 0;
        left: calc(40vw - 15em);
        z-index: 10;
    }

    .bodywrapper {
        margin-left: calc(40vw - 14em);
    }
}

@media (min-width: $width-narrow) {
    button#show-sidebar {
      display: none;
    }

    .body {
        min-height: calc(100vh - 10em);
    }
}

@media (max-width: $width-narrow) {
    .body {
        min-height: calc(100vh - 11.25rem);
    }
}

.body p {
    line-height: 1.5em;
    text-align: justify;
    margin: .25em 0 .75em 0;
}

.body ol p, .body ul p {
    margin: .25em 0;
}

svg {
    display: block;
    margin: 0 auto;
}

.body table {
    margin: 0 auto;
}

@media (min-width: $width-narrow) {
    #hdl-component-diagram svg {
        float: right;
        margin: -3em 0 0 1em;
        max-width: 30rem;
    }
}

@media (max-width: $width-narrow) {
    svg {
        max-width: 100%;
    }
}
