$bg-light1: #f9f9f9;
$bg-light2: #f4f4f4;
$bg-light3: #f0f0f0;
$bg-dark1: #1a1a1a;
$bg-dark2: #111;
$bg-dark3: #202020;
$bg-banner-dark: #0088ff;
$bg-banner-light: #00305b;
$text-color-dark1: #e5e5e5;
$text-color-dark2: #ccc;
$text-color-dark3: #aaa;
$text-color-light1: #212836;
$text-color-light2: #555;
$text-color-light3: #888;
$text-color-banner-light: #fff;
$text-color-banner-dark: #000;
$box-shadow-left-sidebar: .3rem 0 .3rem rgba(0,0,0,.1), 0 0 .075rem rgba(0,0,0,.15);
$box-shadow-right-sidebar: -0.3rem 0 .3rem rgba(0,0,0,.1), 0 0 .075rem rgba(0,0,0,.15);
$box-shadow-raised: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
$border-panel: 1px solid rgba(125, 125, 125, 0.8);
$border-th: 1px solid rgba(125, 125, 125, 0.5);
$border-td: 1px solid rgba(125, 125, 125, 0.25);
$accent-color-light: #0067b9;
$accent-color-dark: #0076d6;
$accent-color-code-light: #cc6d34;
$accent-color-code-dark: #ff8d34;
$border-radius: .5rem;
$border-radius-extra: 1rem;

$screen-3: 105em;
$screen-2: 80em;
$screen-1: 65em;
$screen-0: 40em;

