name: Container build
run-name: Build container for ${{ inputs.repository }}@${{ inputs.ref }}
on:
  workflow_dispatch:
    inputs:
      organization:
        description: 'Organization name (analogdevicesinc, ...)'
        required: true
        type: string
      repository:
        description: 'Repository name'
        required: true
        type: string
      image-name:
        description: 'Image name (optional, defaults to adi/<repository>)'
        required: false
        type: string
      ref:
        description: 'Branch/tag ref to checkout'
        required: true
        type: string
        default: 'refs/heads/main'
      containerfile:
        description: 'Path to the Containerfile'
        required: true
        type: string
  workflow_call:
    inputs:
      organization:
        description: 'Organization name'
        required: true
        type: string
      repository:
        description: 'Repository name'
        required: true
        type: string
      image-name:
        description: 'Image name'
        required: false
        type: string
      ref:
        description: 'Branch/tag ref to checkout'
        required: true
        type: string
        default: 'refs/heads/main'
      containerfile:
        description: 'Path to the Containerfile'
        required: true
        type: string
    secrets:
      CLOUDSMITH_SERVICE_SLUG_CONTAINERS:
        required: false
      CLOUDSMITH_API_KEY:
        required: false

jobs:
  build-container:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          repository: ${{ inputs.organization }}/${{ inputs.repository }}
          ref: ${{ inputs.ref }}

      - uses: analogdevicesinc/doctools/container-build@action
        id: container_build
        with:
          image-name: ${{ inputs.image-name || format('adi/{0}', inputs.repository) }}
          containerfile: ${{ inputs.containerfile }}

      - uses: analogdevicesinc/doctools/cloudsmith-upload-container@action
        with:
          path: ${{ steps.container_build.outputs.image_archive }}
          namespace: ${{ vars.CLOUDSMITH_NAMESPACE }}
          repository: ${{ vars.CLOUDSMITH_REPOSITORY_CONTAINERS }}
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          service-slug: ${{ secrets.CLOUDSMITH_SERVICE_SLUG_CONTAINERS }}

      - uses: analogdevicesinc/doctools/cloudsmith-upload-raw@action
        with:
          path: ${{ steps.container_build.outputs.image_archive }}
          version: ${{ steps.container_build.outputs.version }}
          namespace: ${{ vars.CLOUDSMITH_NAMESPACE }}
          repository: ${{ vars.CLOUDSMITH_REPOSITORY_CONTAINERS }}
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          service-slug: ${{ secrets.CLOUDSMITH_SERVICE_SLUG_CONTAINERS }}