on:
  workflow_call:
    inputs:
      asset_alias_name:
        required: true
        type: string
      asset_path:
        required: true
        type: string
      new_tag:
        required: true
        type: string
      tag:
        required: true
        type: string

permissions:
  contents: write
  id-token: write

jobs:
  deploy-github:
    runs-on: [self-hosted, repo-only]
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
    - name: Get assets
      run: |
        curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -L -o github-api.sh \
          https://raw.githubusercontent.com/analogdevicesinc/doctools/refs/heads/main/ci/github-api.sh

    - name: Ensure clean dist
      run: |
        rm -rf dist

    - uses: actions/download-artifact@v5
      with:
        name: dist
        path: dist

    - name: Get pre-release vars
      run: |
        source ./github-api.sh
        release_id=$(
          gh-get-release-id ${{ secrets.GITHUB_TOKEN }} \
                            ${{ github.repository }} \
                            pre-release \
                            pre_release_id
        )

        asset_id=$(
          gh-get-asset-id ${{ secrets.GITHUB_TOKEN }} \
                          ${{ github.repository }} \
                          $release_id \
                          ${{ inputs.asset_alias_name }} \
                          pre_release_asset_id
        )

    - name: Get latest vars
      if: ${{ inputs.new_tag == 'true' }}
      run: |
        source ./github-api.sh
        release_id=$(
          gh-get-release-id ${{ secrets.GITHUB_TOKEN }} \
                            ${{ github.repository }} \
                            latest \
                            latest_id
        )

        asset_id=$(
          gh-get-asset-id ${{ secrets.GITHUB_TOKEN }} \
                          ${{ github.repository }} \
                          $release_id \
                          ${{ inputs.asset_alias_name }} \
                          latest_asset_id
        )

    - name: GitHub create tag release and upload asset
      if: ${{ inputs.new_tag == 'true' }}
      run: |
        source ./github-api.sh
        gh-create-tag ${{ secrets.GITHUB_TOKEN }} \
                      ${{ github.repository }} \
                      ${{ inputs.tag }} \
                      ${{ github.sha }}

        release_id=$(
          gh-create-release ${{ secrets.GITHUB_TOKEN }} \
                            ${{ github.repository }} \
                            ${{ inputs.tag }} \
                            new_tag_release_id
        )

        gh-upload-asset ${{ secrets.GITHUB_TOKEN }} \
                        ${{ github.repository }} \
                        $release_id \
                        ${{ inputs.asset_alias_name }} \
                        ${{ inputs.asset_path }}

    - name: GitHub update pre-release target commitish
      run: |
        source ./github-api.sh
        gh-update-commitish ${{ secrets.GITHUB_TOKEN }} \
                            ${{ github.repository }} \
                            ${{ github.sha }} \
                            $pre_release_id

    - name: GitHub upload pre-release asset
      run: |
        source ./github-api.sh
        if [[ ! "$pre_release_asset_id" == "" ]]; then
          gh-delete-asset ${{ secrets.GITHUB_TOKEN }} \
                          ${{ github.repository }} \
                          $pre_release_asset_id
        fi

        gh-upload-asset ${{ secrets.GITHUB_TOKEN }} \
                        ${{ github.repository }} \
                        $pre_release_id \
                        ${{ inputs.asset_alias_name }} \
                        ${{ inputs.asset_path }}

    - name: GitHub update latest target commitish
      if: ${{ inputs.new_tag == 'true' }}
      run: |
        source ./github-api.sh
        gh-update-commitish ${{ secrets.GITHUB_TOKEN }} \
                            ${{ github.repository }} \
                            ${{ github.sha }} \
                            $latest_id

    - name: GitHub Upload latest asset
      if: ${{ inputs.new_tag == 'true' }}
      run: |
        source ./github-api.sh
        if [[ ! "$latest_asset_id" == "" ]]; then
          gh-delete-asset ${{ secrets.GITHUB_TOKEN }} \
                          ${{ github.repository }} \
                          $latest_asset_id
        fi

        gh-upload-asset ${{ secrets.GITHUB_TOKEN }} \
                        ${{ github.repository }} \
                        $latest_id \
                        ${{ inputs.asset_alias_name }} \
                        ${{ inputs.asset_path }}

  # Reusable workflows are currently unsupported on the PyPI
  # https://github.com/pypa/gh-action-pypi-publish/issues/166
  deploy-pypi:
    runs-on: [self-hosted, repo-only]
    permissions:
      contents: read
    if: ${{ github.ref == 'refs/heads/main' && inputs.new_tag == 'true'}}

    steps:
    - name: Ensure clean dist
      run: |
        rm -rf dist

    - uses: actions/download-artifact@v5
      with:
        name: dist
        path: dist

    - name: Publish to PyPI
      env:
        PYPI_API_KEY: ${{ secrets.PYPI_API_KEY }}
      if: ${{ env.PYPI_API_KEY != '' }}
      run: |
        command -v python3 || alias python3=$(compgen -c python3 | grep -v '-' | sort --version-sort -r | head -n 1)
        command -v pip3 || alias pip3=$(compgen -c pip3 | grep -v '-' | sort --version-sort -r | head -n 1)
        python3 -m venv venv/3/deploy-pypi
        source ./venv/3/deploy-pypi/bin/activate
        pip3 install twine --upgrade
        twine upload --password "${{ secrets.PYPI_API_KEY }}" dist/*

  deploy-cloudsmith:
    runs-on: [self-hosted, repo-only]
    permissions:
      contents: read
      id-token: write
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
    - name: Get assets
      run: |
        curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -L -o cloudsmith-api.sh \
          https://raw.githubusercontent.com/analogdevicesinc/doctools/refs/heads/main/ci/cloudsmith-api.sh

    - name: Ensure clean dist
      run: |
        rm -rf dist

    - uses: analogdevicesinc/doctools/cloudsmith-upload-python@action
      with:
        path: ${{ inputs.asset_path }}
        namespace: ${{ vars.CLOUDSMITH_NAMESPACE }}
        repository: ${{ vars.CLOUDSMITH_REPOSITORY_CONTAINERS }}
        api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
        service-slug: ${{ secrets.CLOUDSMITH_SERVICE_SLUG }}

  deploy-gh-pages:
    runs-on: [self-hosted, repo-only]
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'pull_request' }}

    steps:
    - uses: analogdevicesinc/doctools/gh-pages-deploy@action
      with:
        new_tag: ${{ inputs.new_tag }}
        tag: ${{ inputs.tag }}
        name: html

