on: workflow_call

permissions:
  contents: read

jobs:
  tests:
    runs-on: [self-hosted, repo-only, v2]

    steps:
    - uses: analogdevicesinc/doctools/checkout@action

    - name: Ensure clean dist
      run: rm -rf dist

    - uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist

    - name: Install pip packages
      run: |
        python3 -m venv venv/3/tests
        source ./venv/3/tests/bin/activate
        python3 -m ensurepip
        pip3 install sphinx pytest ruff --upgrade
        pip3 install dist/*.tar.gz

    - name: Run tests
      working-directory: tests
      run: |
        source ../venv/3/tests/bin/activate
        pytest

    - name: Ruff lint
      run: |
        source ./venv/3/tests/bin/activate
        ruff check --output-format=github .

    - name: Run linkcheck
      working-directory: docs
      run: |
        source ../venv/3/tests/bin/activate
        make linkcheck
